# Ignore Emacs backup files
*~
# Ignore Emacs backup files
*~
# Ignore Emacs backup files
*~
# Ignore Emacs backup files
*~
# Ignore Emacs backup files
*~
# Ignore Emacs backup files
*~
# Ignore Emacs backup files
*~

